<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <title>{% block title %}{% endblock title %}</title>
    <script defer src="/main.js"></script>
</head>
<body class="">
{% block precontent %}{% endblock precontent %}
<div class="bg-pattern">
    <div id="content">
        {% block content %}{% endblock content %}
    </div>
</div>

<footer class="bg-white border-t border-gray-200">
    <p class="my-5 text-center text-xs leading-5 text-gray-500 underline hover:text-gray-700"><a href="https://creativecommons.org/licenses/by-nd/4.0/">CC BY-ND 4.0</a></p>
</footer>
</body>
</html>