{% extends "base.html" %}

{% block content %}
{{ section | json_encode() }}
<ul>
    {% for subsection_path in section.subsections %}
    {% set subsection = get_section(path=subsection_path, metadata_only=true) %}
    <li><a href="{{ subsection.path }}">{{ subsection.title }}</a></li>
    {% endfor %}
</ul>

{% endblock content %}