{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock title %}
{% block precontent %}
{{ macros::breadcrumbs(ancestors=section.ancestors, current_title=section.title) }}
{% endblock precontent %}
{% block content %}
{{ section.content | safe }}
<div class="bg-white p-2">
    <ul role="list" class="bg-gray-200 px-6 lg:px-12 py-5 shadow-inner">
        {% for page in section.pages %}
        <li class="bg-white rounded-lg shadow mb-5 hover:bg-gray-100 last:mb-0">
            <a href="{{ page.permalink }}" class="p-5 block">
                <div class="text-xl">{{ page.title }}</div>
                <div class="text-gray-500 text-sm">{{ page.date | date(format="%d %b %Y") }}</div>
                <div class="text-sm">{{ page.description }}</div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}